.container1 {
    display: grid;
    grid-template-rows: 150px 600px 200px;
    justify-content: center;
    height: 100%;
   .header {
      display: grid;
      align-content: center; 
          .delivery {
            color: $blue;
          }
   }
   .main {
     display: grid;
     align-self: stretch;
     .lg {
       display: grid;
       font-size: $H1-size;
       line-height: 82px;
       color: $darkgrey;
    }
    .parg_sign_in {
      font-size: $fsize-two;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: $grey;
    }
    .email_text {
       align-self: end;    
       font-weight: 600;
       font-size: $fsize-three;
       line-height: 16px;
       color: $grey;
     }
     .email_input {
        width: 350px;
        height: 44px;
        border: 1px solid $lightgrey;
        box-sizing: border-box;
        border-radius: 8px;
    }
    .login {
       width: 350px;
       height: 44px;
       left: 165px;
       top: 602px;
       background: $purple;
       box-shadow: 0px 8px 20px $purple;
       border-radius: 8px;
       border: none;
              .login_parg {
              font-weight: 700;
              font-size: $fsize-two;
              line-height: 20px;
              text-align: center;
              letter-spacing: 0.3px;
              justify-self: center;
              color: $offwhite;
              }
   }
   .forget {
      font-weight: 700;
      font-size: $fsize-two;
      border: none;
      background-color: $offwhite;
      letter-spacing: 0.3px;
      color: $purple;
  }
          
  }
  .footer {
  display: grid;
  align-items: center;
  justify-items: center;
 }

}