.container2 {
  display: block;
  background: $blue;
  justify-items: center;
    .cards_box {
      display: grid;
      grid-template-columns: 350px 330px;
      grid-template-rows:320px 150px ;
      margin-top: $H1-size;
       .item2 {
        margin-top: $H4-size;
       }
    }
    
        .cards_footer {
          display: grid;
          grid-template-rows: auto auto auto;
          justify-items: center;
          padding-top: 15%;
          row-gap: $row;
           .f_review {
              letter-spacing: 0.1px;
              color: $offwhite;
              margin: 0;
           }
           .f_parg {
            display: grid;
            place-self: center;
            width: 50%;
            letter-spacing: 0.1px;
            color: #FFFFFF;
        }
}
   .dot_block {
      text-align: center;
       .dot {
          border: 4px solid $offwhite;
          border-radius: 50%;
          display: inline-block;
          opacity: 0.3;
      }
   }

}