@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


$blue:#697BFF;
$font-main: 'Nunito', sans-serif;
$icon-font: "Font Awesome 6 Free";
$H1-size: 60px;
$H3-size: 32px;
$H4-size:70px;
$row:30px;
$fsize-one: 20px;
$fsize-two: 14px;
$fsize-three: 12px; 
$purple: #4E60FF;
$darkgrey: #2B2B43;
$grey: #545563;
$brightgrey: #83859C;
$lightgrey: #C7C8D2;
$offwhite: #ffffff;