@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
.container1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 600px 200px;
      grid-template-rows: 150px 600px 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.container1 .header {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container1 .header .delivery {
  color: #697BFF;
}

.container1 .main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

.container1 .main .lg {
  display: -ms-grid;
  display: grid;
  font-size: 60px;
  line-height: 82px;
  color: #2B2B43;
}

.container1 .main .parg_sign_in {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #545563;
}

.container1 .main .email_text {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #545563;
}

.container1 .main .email_input {
  width: 350px;
  height: 44px;
  border: 1px solid #C7C8D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.container1 .main .login {
  width: 350px;
  height: 44px;
  left: 165px;
  top: 602px;
  background: #4E60FF;
  -webkit-box-shadow: 0px 8px 20px #4E60FF;
          box-shadow: 0px 8px 20px #4E60FF;
  border-radius: 8px;
  border: none;
}

.container1 .main .login .login_parg {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.3px;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #ffffff;
}

.container1 .main .forget {
  font-weight: 700;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  letter-spacing: 0.3px;
  color: #4E60FF;
}

.container1 .footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.container2 {
  display: block;
  background: #697BFF;
  justify-items: center;
}

.container2 .cards_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 330px;
      grid-template-columns: 350px 330px;
  -ms-grid-rows: 320px 150px;
      grid-template-rows: 320px 150px;
  margin-top: 60px;
}

.container2 .cards_box .item2 {
  margin-top: 70px;
}

.container2 .cards_footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  justify-items: center;
  padding-top: 15%;
  row-gap: 30px;
}

.container2 .cards_footer .f_review {
  letter-spacing: 0.1px;
  color: #ffffff;
  margin: 0;
}

.container2 .cards_footer .f_parg {
  display: -ms-grid;
  display: grid;
  place-self: center;
  width: 50%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.container2 .dot_block {
  text-align: center;
}

.container2 .dot_block .dot {
  border: 4px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
               ========================================================================== */
/**
             * Remove the margin in all browsers.
             */
body {
  margin: 0;
}

/**
             * Render the `main` element consistently in IE.
             */
main {
  display: block;
}

/**
             * Correct the font size and margin on `h1` elements within `section` and
             * `article` contexts in Chrome, Firefox, and Safari.
             */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
               ========================================================================== */
/**
             * 1. Add the correct box sizing in Firefox.
             * 2. Show the overflow in Edge and IE.
             */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
             * 1. Correct the inheritance and scaling of font size in all browsers.
             * 2. Correct the odd `em` font sizing in all browsers.
             */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
               ========================================================================== */
/**
             * Remove the gray background on active links in IE 10.
             */
a {
  background-color: transparent;
}

/**
             * 1. Remove the bottom border in Chrome 57-
             * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
             */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
             * Add the correct font weight in Chrome, Edge, and Safari.
             */
b,
strong {
  font-weight: bolder;
}

/**
             * 1. Correct the inheritance and scaling of font size in all browsers.
             * 2. Correct the odd `em` font sizing in all browsers.
             */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
             * Add the correct font size in all browsers.
             */
small {
  font-size: 80%;
}

/**
             * Prevent `sub` and `sup` elements from affecting the line height in
             * all browsers.
             */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
               ========================================================================== */
/**
             * Remove the border on images inside links in IE 10.
             */
img {
  border-style: none;
}

/* Forms
               ========================================================================== */
/**
             * 1. Change the font styles in all browsers.
             * 2. Remove the margin in Firefox and Safari.
             */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
             * Show the overflow in IE.
             * 1. Show the overflow in Edge.
             */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
             * Remove the inheritance of text transform in Edge, Firefox, and IE.
             * 1. Remove the inheritance of text transform in Firefox.
             */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
             * Correct the inability to style clickable types in iOS and Safari.
             */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
             * Remove the inner border and padding in Firefox.
             */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
             * Restore the focus styles unset by the previous rule.
             */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
             * Correct the padding in Firefox.
             */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
             * 1. Correct the text wrapping in Edge and IE.
             * 2. Correct the color inheritance from `fieldset` elements in IE.
             * 3. Remove the padding so developers are not caught out when they zero out
             *    `fieldset` elements in all browsers.
             */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
             * Add the correct vertical alignment in Chrome, Firefox, and Opera.
             */
progress {
  vertical-align: baseline;
}

/**
             * Remove the default vertical scrollbar in IE 10+.
             */
textarea {
  overflow: auto;
}

/**
             * 1. Add the correct box sizing in IE 10.
             * 2. Remove the padding in IE 10.
             */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
             * Correct the cursor style of increment and decrement buttons in Chrome.
             */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
             * 1. Correct the odd appearance in Chrome and Safari.
             * 2. Correct the outline style in Safari.
             */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
             * Remove the inner padding in Chrome and Safari on macOS.
             */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
             * 1. Correct the inability to style clickable types in iOS and Safari.
             * 2. Change font properties to `inherit` in Safari.
             */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
               ========================================================================== */
/*
             * Add the correct display in Edge, IE 10+, and Firefox.
             */
details {
  display: block;
}

/*
             * Add the correct display in all browsers.
             */
summary {
  display: list-item;
}

/* Misc
               ========================================================================== */
/**
             * Add the correct display in IE 10+.
             */
template {
  display: none;
}

/**
             * Add the correct display in IE 10.
             */
[hidden] {
  display: none;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}
/*# sourceMappingURL=style.css.map */